<!-- Large modal -->
<button type="button" class="btn btn-networks" data-toggle="modal" data-target="#modify_networks_<%= @sub_account.id %>">

  <% if @sub_account.address.present? && @sub_account.facebook.blank? %>

  	Présent sur les réseaux sociaux ?

  <% else %>

  	Modifier vos réseaux sociaux

  <% end %>


</button>

<div class="modal fade" id="modify_networks_<%= @sub_account.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">



      <div class="modal-body modal-body-account">

        <div class="row">

        	<div class="col-md-10">
            <%= simple_form_for(@sub_account) do |f| %>
              <%= f.error_notification %>
        		<%= f.input :facebook, label: false, :placeholder => t('account.facebook') %>
		    		<%= f.input :twitter, label: false, :placeholder => t('account.twitter') %>
		    		<%= f.input :instagram, label: false, :placeholder => t('account.instagram') %>
		    		<%= f.input :google, label: false, :placeholder => t('account.google') %>
		    		<%= f.input :snapchat, label: false, :placeholder => t('account.snapchat') %>
		    		<%= f.input :youtube, label: false, :placeholder => t('account.youtube') %>
		    		<%= f.input :vimeo, label: false, :placeholder => t('account.vimeo') %>
            <%= f.submit t('word.update'), class: "btn btn-save-networks" %>
            <% end %>

        	</div>
          <div class="col-md-2">
            
          </div>
        </div>
		  </div>	
  	</div>
	</div>
</div>
