<!-- Large modal -->
<button type="button" class="btn btn-item" data-toggle="modal" data-target="#new_starter">

  <img src="/assets/add-pen.png" style="max-width:50%;">


</button>

<div class="modal fade" id="new_starter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>

            <%= simple_form_for(@new_item) do |f| %>
              <%= f.error_notification %>

              <div class="row">
                <div class="col-md-12">
                  <%= f.input :name %>
                </div>
                <div class="col-md-12">
                  <%= f.input :description %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :active %>
                  <%= f.input :start_date %>
                  <%= f.input :end_date %>
                </div>
                <div class="col-md-6">
                  <div class="add-item-file">
                    <%= f.input :picture, as: :file, class: "show-for-sr", label: false %>
                  </div>
                  <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                      <%= f.hidden_field :account_id, :value => @sub_account.id %>
                      <%= f.hidden_field :food, :value => true %>
                      <%= f.submit t('word.update'), class: "btn btn-save-item" %>
                    </div>
                  </div>   
                </div>              
              </div>              
              
              <% end %> 
			    

			  </div>	




  	</div>
	</div>
</div>
