<!-- Large modal -->
<button type="button" class="btn btn-item" data-toggle="modal" data-target="#new_item_category">

  <img src="assets/price.png" style="max-width:50%;">


</button>

<div class="modal fade" id="new_item_category" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      

        <div class="modal-body">
            <%= simple_form_for(@new_item_category) do |f| %>
              <%= f.error_notification %>
                <div class="row">

                  <div class="col-md-4">

                  <% if @sub_account.free %>

                    <%= f.collection_select :category_id, @specials_categories, :id, :name, {prompt: true, include_blank: false}, class: "form-control styled-select" %>

                  <% else %>

                    <%= f.collection_select :category_id, @_main_categories, :id, :name, {prompt: true, include_blank: false}, class: "form-control styled-select" %>

                  <% end %>


                    
                  </div>
                  <div class="col-md-4">
                    <%= f.input :price, label: false, :placeholder => "Prix en €" %>
                  </div>
                  <div class="col-md-4">
                    <%= f.hidden_field :food, :value => true %>
                    <%= f.hidden_field :item_id, :value => @sub_account.items.last.id %>

                    <%= f.submit t('word.update'), class: "btn btn-save-item" %>
                  </div>                        
                </div>
					    
      				<% end %>
		
			  </div>	
  	</div>
	</div>
</div>
