<div class="landing">
	<p><%= t("landing.title_top") %></p>
	<img src="assets/grow.png">

</div>

<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1><%= t("landing.get_a_site") %></h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>

<div class="selling">
	
	<div class="row">
		<div class="col-md-8">
		
			<h3><%= t("landing.your_presence_title") %></h3>

			<p><%= t("landing.your_presence_text") %></p>
		</div>

		<div class="col-md-4">
			<img src="assets/top-screen.png" style="max-width:100%;max-height:80%;padding-top:15%;opacity:0.5;">
		</div>		
	</div>

	<div class="row">
		<div class="col-md-4">	
			<img src="assets/service.jpg" style="max-width:100%;padding-top:15%;opacity:0.5;">

		</div>
		<div class="col-md-8">
			<h3><%= t("landing.not_during_service_title") %></h3>

			<p><%= t("landing.not_during_service_text") %></p>

		</div>		
	</div>		

	<div class="row">
		<div class="col-md-8">
		
			<h3><%= t("landing.not_alone_title") %></h3>

			<p><%= t("landing.not_alone_text") %></p>
		</div>

		<div class="col-md-4">
			<img src="assets/alone.jpg" style="max-width:100%;padding-top:15%;opacity:0.4;">
		</div>		
	</div>		

	<div class="row">
		<div class="col-md-4">	
			<img src="assets/communicate.jpg" style="max-width:100%;padding-top:15%;opacity:0.5;">

		</div>
		<div class="col-md-8">
			<h3><%= t("landing.communicate_for_you_title") %></h3>

			<p><%= t("landing.communicate_for_you_title") %></p>

		</div>		
	</div>	

</div>


<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1><%= t("landing.get_a_site") %></h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>


<div class="ingredients">
	<h1>Les ingrédients de votre site</h1>

		<h2>Votre histoire, votre philosophie</h2>

			<p>Votre restaurant est unique, votre parcours aussi. Présentez-les, racontez cette histoire en quelques paragraphes.</p>

		
		<h2>Annoncez vos événements</h2>

			<p>Spekulooz se charge de promouvoir vos événements sur votre site et prépare tout pour les partager d’un seul clic sur vos réseaux sociaux.</p>

		<h2>Le menu de votre restaurantest un être vivant</h2>

			<p>Votre menu évolue sûrement. Spekulooz gère la promotion de votre nouvelle carte et annonce son arrivée sur votre site, au moment que vous avez choisi, et vous permet de la partager sur vos réseaux sociaux.</p>

		<h2>Plats du jour, suggestions et menus saisonniers</h2>


			<p>Boostez vos ventes en mettant en avant vos plats du jour, suggestions ou menus saisonniers. Vos nouveautés sont sûrement alléchantes. Mais qui le sait ? Spekulooz fait leur promotion sur votre site et prépare tout pour les partager d’un seul clic sur vos réseaux sociaux.</p>

		<h2>Répondez aux demandes de réservation d’un simple clic</h2>

			<p>Spekulooz vous prévient par email et/ou par sms. Vous confirmez ou infirmez directement sur votre smartphone, ou vous rappelez votre client, d’un simple clic.</p>

</div>

<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1>Obtenez un site web et mobile qui grandit et vit au rythme de votre restaurant</h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>


<div class="selling">
	<h1>Nos services</h1>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Votre présence web et mobile
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Conseils pour votre design
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Formulaire de réservation
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Texte de présentation
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Nom de domaine personnalisé
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Menu limité (6 suggestions)
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Menu illimité
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Carte boissons
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Design limité
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>			
		</div>
	</div>



	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Design personnalisé
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Mise à jour du contenu par l’utilisateur
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Mise à jour du contenu par Spekulooz
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Correction orthographique des textes
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Assistance par e-mail lu – ve / 8h - 18h
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				Assistance par e-mail 7j/7 / 24h/24
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-2" style="text-align:center;">
				Gratuit
			</div>
			<div class="col-md-2" style="text-align:center;">
				<%= number_to_currency(39, :unit => "€", :precision => 2) %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<%= number_to_currency(59, :unit => "€", :precision => 2) %>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<span style="font-size:0.7em;font-variant:small-caps;">Bientôt disponible</span>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<span style="font-size:0.7em;font-variant:small-caps;">Bientôt disponible</span>
			</div>			
		</div>
	</div>

</div>