<div class="landing">
	<p><%= t("landing.title_top") %></p>
	<img src="assets/grow.png">

</div>

<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1><%= t("landing.get_a_site") %></h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>

<div class="selling">
	
	<div class="row">
		<div class="col-md-8">
		
			<h3><%= t("landing.your_presence_title") %></h3>

			<p><%= t("landing.your_presence_text") %></p>
		</div>

		<div class="col-md-4">
			<img src="assets/top-screen.png" style="max-width:100%;max-height:80%;padding-top:15%;opacity:0.5;">
		</div>		
	</div>

	<div class="row">
		<div class="col-md-4">	
			<img src="assets/service.jpg" style="max-width:100%;padding-top:15%;opacity:0.5;">

		</div>
		<div class="col-md-8">
			<h3><%= t("landing.not_during_service_title") %></h3>

			<p><%= t("landing.not_during_service_text") %></p>

		</div>		
	</div>		

	<div class="row">
		<div class="col-md-8">
		
			<h3><%= t("landing.not_alone_title") %></h3>

			<p><%= t("landing.not_alone_text") %></p>
		</div>

		<div class="col-md-4">
			<img src="assets/alone.jpg" style="max-width:100%;padding-top:15%;opacity:0.4;">
		</div>		
	</div>		

	<div class="row">
		<div class="col-md-4">	
			<img src="assets/communicate.jpg" style="max-width:100%;padding-top:15%;opacity:0.5;">

		</div>
		<div class="col-md-8">
			<h3><%= t("landing.communicate_for_you_title") %></h3>

			<p><%= t("landing.communicate_for_you_title") %></p>

		</div>		
	</div>	

</div>


<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1><%= t("landing.get_a_site") %></h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>


<div class="ingredients">
	<h1><%= t("landing.ingredients") %></h1>

		<h2><%= t("landing.your_story_title") %></h2>

			<p><%= t("landing.your_story_text") %></p>

		
		<h2><%= t("landing.your_events_title") %></h2>

			<p><%= t("landing.your_events_text") %></p>

		<h2><%= t("landing.your_menu_title") %></h2>

			<p><%= t("landing.your_menu_text") %></p>

		<h2><%= t("landing.specials_title") %></h2>

			<p><%= t("landing.specials_text") %></p>

		<h2><%= t("landing.reservations_title") %></h2>

			<p><%= t("landing.reservations_text") %></p>

</div>

<div class="sign-up">
	<div class="row">
		<div class="col-md-8">
			<h1><%= t("landing.get_a_site") %></h1>
		</div>
		<div class="col-md-4">
			<p><%= link_to t('landing.start_now'), new_user_registration_path, class: "btn btn-start-now" %></p>
		</div>	
	</div>
</div>


<div class="selling">
	<h1><%= t("landing.our_services") %></h1>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.your_presence") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.advise_design") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.reservation_form") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.presentation_text") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.spekulooz_domain") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.personnalized_domain") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.limited_menu") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.unlimited_menu") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.drinks_menu") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.limited_design") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>			
		</div>
	</div>



	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.personnalized_menu") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.user_update_content") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.spekulooz_update_content") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.spelling") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.free_support") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.full_support") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				<%= t("landing.multilingual") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<i class="fa fa-check" aria-hidden="true"></i>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-2" style="text-align:center;">
				<%= t("landing.free") %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<%= number_to_currency(39, :unit => "€", :precision => 2) %>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<%= number_to_currency(59, :unit => "€", :precision => 2) %>
			</div>			
		</div>
	</div>

	<div class="feature">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-2" style="text-align:center;">
			</div>
			<div class="col-md-2" style="text-align:center;">
				<span style="font-size:0.7em;font-variant:small-caps;">Bientôt disponible</span>
			</div>
			<div class="col-md-2" style="text-align:center;">
				<span style="font-size:0.7em;font-variant:small-caps;">Bientôt disponible</span>
			</div>			
		</div>
	</div>

</div>