<!-- Large modal -->
<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_specials_menu_<%= menu.id %>">

  Afficher le menu


</button>

<div class="modal fade" id="show_specials_menu_<%= menu.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      

        <div class="modal-body">
            <%= simple_form_for(menu) do |f| %>
              <%= f.error_notification %>

                    <%= f.hidden_field :visible, :value => true %>

                    <%= f.submit t('menu.specials_show'), class: "btn btn-block btn-save-item" %>

					    
      				<% end %>
		
			  </div>	
  	</div>
	</div>
</div>
