<% if @sub_account.bg_pict_number == 1 %>

	<div class="top">
		<div class="top-bg" style="background-image: url('/assets/bg-cheese.jpg');background-align: center;background-repeat: no-repeat;background-size: cover;">
			
			<div class="top-text">
				
				<div class="top-modal">
					<% if user_signed_in? && current_user.id == @sub_account.user_id %>
	  
	          <% if @sub_account.address.blank? %>

	            <!-- Large modal -->
							<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#modify_contact_<%= @sub_account.id %>">

								Indiquez vos coordonnées

							</button>

	          <% else %>

	          	<% if @sub_account.free %>

								<% unless @sub_account.menus.is_specials.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_specials_menu_<%= @sub_account.menus.is_specials.first.id %>">

										Afficher vos suggestions

									</button>
	            	<% end %>    

	          	<% else %>

		            <% unless @sub_account.menus.is_main.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_main_menu_<%= @sub_account.menus.is_main.first.id %>">

										Afficher votre menu

									</button>
		            <% end %>

	          	<% end %>
          
	          <% end %>         
	        <% end %>					
				</div>

				<span class="top-resto-name"><%= @sub_account.resto_name %></span>
								
			</div>

			<div class="top-filter">
				
			</div>
		</div>
	</div>

<% elsif @sub_account.bg_pict_number == 2 %>

	<div class="top">
		<div class="top-bg" style="background-image: url('/assets/bg-cocktails.jpg');background-align: center;background-repeat: no-repeat;background-size: cover;">
			
			<div class="top-text">
				
				<div class="top-modal">
					<% if user_signed_in? && current_user.id == @sub_account.user_id %>
	  
	          <% if @sub_account.address.blank? %>

	            <!-- Large modal -->
							<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#modify_contact_<%= @sub_account.id %>">

								Indiquez vos coordonnées

							</button>

	          <% else %>

	          	<% if @sub_account.free %>

								<% unless @sub_account.menus.is_specials.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_specials_menu_<%= @sub_account.menus.is_specials.first.id %>">

										Afficher vos suggestions

									</button>
	            	<% end %>    

	          	<% else %>

		            <% unless @sub_account.menus.is_main.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_main_menu_<%= @sub_account.menus.is_main.first.id %>">

										Afficher votre menu

									</button>
		            <% end %>

	          	<% end %>

	          <% end %>         
	        <% end %>					
				</div>

				<span class="top-resto-name"><%= @sub_account.resto_name %></span>
								
			</div>

			<div class="top-filter">
				
			</div>
		</div>
	</div>

<% elsif @sub_account.bg_pict_number == 3 %>

	<div class="top">
		<div class="top-bg" style="background-image: url('/assets/bg-spices.jpg');background-align: center;background-repeat: no-repeat;background-size: cover;">
			
			<div class="top-text">
				
				<div class="top-modal">
					<% if user_signed_in? && current_user.id == @sub_account.user_id %>
	  
	          <% if @sub_account.address.blank? %>

	            <!-- Large modal -->
							<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#modify_contact_<%= @sub_account.id %>">

								Indiquez vos coordonnées

							</button>

	          <% else %>

	          	<% if @sub_account.free %>

								<% unless @sub_account.menus.is_specials.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_specials_menu_<%= @sub_account.menus.is_specials.first.id %>">

										Afficher vos suggestions

									</button>
	            	<% end %>    

	          	<% else %>

		            <% unless @sub_account.menus.is_main.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_main_menu_<%= @sub_account.menus.is_main.first.id %>">

										Afficher votre menu

									</button>
		            <% end %>

	          	<% end %>
	          	           
	          <% end %>         
	        <% end %>					
				</div>

				<span class="top-resto-name"><%= @sub_account.resto_name %></span>
								
			</div>

			<div class="top-filter">
				
			</div>
		</div>
	</div>


<% elsif @sub_account.bg_pict_number == 4 %>

	<div class="top">
		<div class="top-bg" style="background-image: url('<%= @sub_account.bg_pict_one %>');background-align: center;background-repeat: no-repeat;background-size: cover;">
			
			<div class="top-text">
				
				<div class="top-modal">
					<% if user_signed_in? && current_user.id == @sub_account.user_id %>
	  
	          <% if @sub_account.address.blank? %>

	            <!-- Large modal -->
							<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#modify_contact_<%= @sub_account.id %>">

								Indiquez vos coordonnées

							</button>

	          <% else %>

	          	<% if @sub_account.free %>

								<% unless @sub_account.menus.is_specials.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_specials_menu_<%= @sub_account.menus.is_specials.first.id %>">

										Afficher vos suggestions

									</button>
	            	<% end %>    

	          	<% else %>

		            <% unless @sub_account.menus.is_main.first.visible == true %>

		              <!-- Large modal -->
									<button type="button" class="btn btn-add-contact" data-toggle="modal" data-target="#show_main_menu_<%= @sub_account.menus.is_main.first.id %>">

										Afficher votre menu

									</button>
		            <% end %>

	          	<% end %>            
	          <% end %>         
	        <% end %>					
				</div>

				<span class="top-resto-name"><%= @sub_account.resto_name %></span>
								
			</div>

			<div class="top-filter">
				
			</div>
		</div>
	</div>


<% end %>

<% if @sub_account.free %>

	<%= render 'menu_free' %>

<% else %>

	<%= render 'menu' %>

<% end %>


	<%= render 'reservations' %>
	<%= render 'contact' %>




<!-- MODAL CONTACT START -->

<div class="modal fade" id="modify_contact_<%= @sub_account.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <%= simple_form_for(@sub_account) do |f| %>
        <%= f.error_notification %>

        <div class="modal-body modal-body-account">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>

			    <div class="row">
			    	<div class="col-md-12">
			      <%= f.input :resto_name, label: false, :placeholder => t('account.resto_name') %>			    		
			    	</div>
			    	<div class="col-md-6">
			    		<%= f.input :address, label: false, :placeholder => t('account.address') %>
					   	<%= f.input :city, label: false, :placeholder => t('account.city') %>
					    <div class="row">
					    	<div class="col-md-6">							    		
					    		<%= f.input :zipcode, label: false, :placeholder => t('account.zipcode') %>
					    	</div>
					    	<div class="col-md-6">
					    		<%= f.select :country, @countries, {prompt: false}, {class: "form-country more-padding"} %>
					    	</div>
					    </div>
					  </div>

			    	<div class="col-md-6">
			    		<%= f.input :phone, label: false, :placeholder => t('account.phone') %>

			    		<%= f.input :fax, label: false, :placeholder => t('account.fax') %>

			    		<%= f.input :mobile, label: false, :placeholder => t('account.mobile') %>
	
			    		<%= f.input :email, label: false, :placeholder => t('account.email') %>
			    	</div>

			    		<% if @sub_account.active == nil %>

			    			<%= f.hidden_field :active, :value => true %>

			    		<% end %>


			    		<%= f.submit t('word.update'), class: "btn btn-save-contact-first" %>
      				<% end %>
			    	</div>
			  </div>	
  	</div>
	</div>
</div>

<!-- MODAL CONTACT END -->

<!-- MODAL SPECIALS MENU START -->

<div class="modal fade" style="margin-top:20%;" id="show_specials_menu_<%= @sub_account.menus.is_specials.first.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      

        <div class="modal-body">
            <%= simple_form_for(@sub_account.menus.is_specials.first) do |f| %>
              <%= f.error_notification %>

                    <%= f.hidden_field :visible, :value => true %>

                    <%= f.submit t('menu.specials_show'), class: "btn btn-block btn-save-item" %>

					    
      				<% end %>
		
			  </div>	
  	</div>
	</div>
</div>

<!-- MODAL SPECIALS MENU END -->

<!-- MODAL SPECIALS MENU START -->

<div class="modal fade" style="margin-top:20%;" id="show_main_menu_<%= @sub_account.menus.is_main.first.id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      

        <div class="modal-body">
            <%= simple_form_for(@sub_account.menus.is_main.first) do |f| %>
              <%= f.error_notification %>

                    <%= f.hidden_field :visible, :value => true %>

                    <%= f.submit t('menu.show'), class: "btn btn-block btn-save-item" %>

					    
      				<% end %>
		
			  </div>	
  	</div>
	</div>
</div>

<!-- MODAL MENU END -->
