

<div class="landing">
	<div class="row">
		<div class="col-md-6">
				<div class="section-title">
					Données de contact
				</div>

				
				<div class="contact-frame">

					<%= render 'edit_profile' %>

				</div>

				<ul class="contact">
					<li class="contact-detail">
						<%= @user.full_name %>
					</li>
					<li class="contact-detail">
						<%= @user.email.present? ? @user.email : "Email manquant" %>
					</li>
				</ul>

			<div class="menu-frame">

				<div class="section-title">Vos Menus</div>


				<div class="new-account-frame">
					<div class="new-account">
						<%= render 'menu_new' %>
					</div>					
				</div>


					<% @user.accounts.each do |account| %>
							<% account.menus.each do |menu| %>

								<%= link_to "#{menu.name} - #{account.resto_name}", menu_path(menu), class: "btn btn-block btn-new-account" %>

							<% end %>
					<% end %>



			
			</div>

		</div>
				


		<div class="col-md-6">

			<% if @user.accounts.count == 0 %>
				<div class="section-title">Vous n'avez pas encore créé de site pour votre restaurant</div>
			<% elsif @user.accounts.count == 1 %>
				<div class="section-title">Votre site</div>
			<% elsif @user.accounts.count > 1 %>
				<div class="section-title">Vos sites</div>
			<% end %>

			<div class="new-account-frame">

				<%= render 'account_new' %>
					
			</div>
			
			<div class="your-accounts">

				<% if Rails.env.development? %>

					<% @user.accounts.each do |account| %>
						<%= link_to "#{account.resto_name}", "#{account.validated_url_dev}", class: "btn btn-block btn-new-account" %>
					<% end %>

				<% else %>

					<% @user.accounts.each do |account| %>
						<%= link_to "#{account.resto_name}", "#{account.validated_url_prod}", class: "btn btn-block btn-new-account" %>
					<% end %>

				<% end %>


			</div>


		



		</div>
	</div>

</div>

