<div class="landing">
	<div class="row">
		<div class="col-md-6">
			<h1>Vos informations</h1>
			<p><%= @user.full_name %><p>
			<p><%= @user.email %><p>


		</div>
		<div class="col-md-6">
			<% if @user.accounts.count == 0 %>
				<h2>Vous n'avez pas encore créé de restaurant</h2>
			<% elsif @user.accounts.count == 1 %>
				<h1>Votre restaurants</h1>
			<% elsif @user.accounts.count > 1 %>
				<h1>Vos restaurant</h1>
			<% end %>

			<div class="new-account">
				<%= simple_form_for (@new_account) do |f| %>
					<%= f.input :resto_name, label: false %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.submit "Créer", class: "btn btn-block btn-new-account form-inline" %>
				<% end %>
			</div>

			<div class="new-account">
			<% @user.accounts.each do |account| %>
				<p><%= account.resto_name %><p>
			<% end %>
			</div>			



		</div>
	</div>

</div>

