

<div class="landing">
	<div class="row">
		<div class="col-md-6">
			<h1>Vos informations</h1>
			<p><%= @user.full_name %><p>
			<p><%= @user.email %><p>


		</div>
		<div class="col-md-6">

			<% if @user.accounts.count == 0 %>
				<div class="accounts-title">Vous n'avez pas encore créé de site pour votre restaurant</div>
			<% elsif @user.accounts.count == 1 %>
				<div class="accounts-title">Votre site</div>
			<% elsif @user.accounts.count > 1 %>
				<div class="accounts-title">Vos sites</div>
			<% end %>

			<div class="your-accounts">

				<% if Rails.env.development? %>

					<% @user.accounts.each do |account| %>
						<%= link_to "#{account.resto_name}", "#{account.validated_url_dev}", class: "btn btn-block btn-new-account" %>
					<% end %>

				<% else %>

					<% @user.accounts.each do |account| %>
						<%= link_to "#{account.resto_name}", "#{account.validated_url_prod}", class: "btn btn-block btn-new-account" %>
					<% end %>

				<% end %>


			</div>

			<div class="accounts-title">Créer un nouveau site</div>

			<div class="new-account">
				<%= simple_form_for (@new_account) do |f| %>
					<%= f.input :resto_name, label: false %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.submit "Créer", class: "btn btn-block btn-new-account" %>
				<% end %>
			</div>			



		</div>
	</div>

</div>

