<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.active %></td>
        <td><%= item.start_date %></td>
        <td><%= item.end_date %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= simple_form_for @new_item do |f| %>
  <%= f.hidden_field :account_id, :value => 16 %>
  <%= f.submit "Ajouter un plat", class: "btn btn-default" %>

<% end %>


