<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @item.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Active</strong>
  <%= @item.active %>
</p>

<p>
  <strong>Start</strong>
  <%= @item.start_date %>
</p>

<p>
  <strong>End</strong>
  <%= @item.end_date %>
</p>

<p>
  <strong>Category 1</strong>

</p>

<p>
  <strong>Category 2</strong>

</p>

<p>
  <strong>Price 1</strong>
  <%= @item.price_one %>
</p>

<p>
  <strong>Price 2</strong>
  <%= @item.price_two %>
</p>

<p>
  <strong>Menu 1</strong>

</p>

<p>
  <strong>Menu 2</strong>

</p>

<p>
  <strong>Account:</strong>

</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
