<!DOCTYPE html>
<html>
  <head>
    <title>Spekulooz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Condensed" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script type="text/javascript" src="javascripts/bootstrap-filestyle.min.js"> </script>

  </head>
<%= render 'layouts/navigation' %>
  <body>
    
    <%= yield %>
  </body>
</html>
