<h2 class="validate-top-title"><%= t("account.is_already_open") %></h2>

<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-6">
				<%= simple_form_for(@account) do |f| %>
					<%= f.error_notification %>
						<%= f.hidden_field :already_open, :value => true %>
						<%= f.hidden_field :open_check, :value => true %>
					<%= f.submit t('account.already_open'), class: "btn btn-block btn-already-open" %>
				<% end %>	
			</div>
			<div class="col-md-3">
				
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-6">
				<h2 class="open-date"><%= t("account.not_open") %> <%= t("account.open_on") %></h2>
			</div>
			<div class="col-md-6">
					<%= simple_form_for(@account) do |f| %>
						<%= f.error_notification %>
							<%= f.input :open_on, :label => false %>
							<%= f.hidden_field :open_check, :value => true %>
						<%= f.submit t('account.go_on'), class: "btn btn-open-date form-inline" %>
					<% end %>	
			
			</div>			
		</div>






