Resto :<%= @account.resto_name %>
Sous-domaine :<%= @account.subdomain %><br>
Propriétaire :<%= @account.user.name.present? ? @account.user.name : "Pas de propriétaire" %><br>

<hr>
Sous-domaine 1 :<%= @account.generate_subdomain_1 %><br>

	<% if @account.availability_subdomain_1 %>
		Désolé, ce nom est déjà pris<br>
	<% else %>
		Ce sous-domaine est encore libre<br>		
	<% end %>

<hr>
Sous-domaine 2 :<%= @account.generate_subdomain_2 %><br>

	<% if @account.availability_subdomain_2 %>
		Désolé, ce nom est déjà pris<br>
	<% else %>
		Ce sous-domaine est encore libre<br>		
	<% end %>
<hr>
Sous-domaine 3 :<%= @account.generate_subdomain_3 %><br>

	<% if @account.availability_subdomain_3 %>
		Désolé, ce nom est déjà pris<br>
	<% else %>
		Ce sous-domaine est encore libre<br>		
	<% end %>
	<hr>

<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :subdomain %>
    <%= f.input :resto_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
