<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <div class="row">
      <div class="col-md-1">
        User id
      </div>
      <div class="col-md-2">
        Subdomain
      </div>      
      <div class="col-md-3">
        Resto name
      </div>
      <div class="col-md-2">
        
      </div>
      <div class="col-md-2">
        
      </div>
      <div class="col-md-2">
        
      </div>      
    </div>

  </li>

  <% @accounts.each do |account| %>

  <li class="list-group-item">
  
    <div class="row">
      <div class="col-md-1">
        <%= account.user_id %>
      </div>
      <div class="col-md-2">
        <%= account.subdomain %>
      </div>      
      <div class="col-md-3">
        <%= account.resto_name %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Show', account %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Edit', edit_account_path(account) %>
      </div>
      <div class="col-md-2">
        <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>      
    </div>    

  </li>

  <% end %>

</ul>
   

<%= link_to 'New Account', new_account_path %>
