<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <div class="row">

      <div class="col-md-2">
        Subdomain
      </div>      
      <div class="col-md-2">
        Resto name
      </div>
      <div class="col-md-2">
        Subdomain 1
      </div>
      <div class="col-md-2">
        Subdomain 2
      </div>
      <div class="col-md-2">
        Subdomain 3
      </div>
      <div class="col-md-2">
      </div>        
    </div>

  </li>

  <% @accounts.each do |account| %>

  <li class="list-group-item">
  
    <div class="row">
      <div class="col-md-2">
        <%= account.user_id %><br>
        <%= account.subdomain %><br>
        <%= account.user.email %>
      </div>      
      <div class="col-md-2">
        <%= account.resto_name %>
      </div>
      <div class="col-md-2">
        <%= account.generate_subdomain_1 %><br>
        <%= @accounts.where(:subdomain => account.generate_subdomain_1).count %><br>
        <%= account.availability_subdomain_1 %><br>
        <%= account.url_subdomain_1 %><br>

      </div>
      <div class="col-md-2">
        <%= account.generate_subdomain_2 %><br>
        <%= @accounts.where(:subdomain => account.generate_subdomain_2).count %><br>
        <%= account.availability_subdomain_2 %>   
      </div>
      <div class="col-md-2">
        <%= account.generate_subdomain_3 %><br>
        <%= @accounts.where(:subdomain => account.generate_subdomain_3).count %><br>
        <%= account.availability_subdomain_3 %>

      </div>
      <div class="col-md-2">
      <%= link_to 'Show', account %><br>
      <%= link_to 'Edit', edit_account_path(account) %><br>
        <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>      
    </div>    

  </li>

  <% end %>

</ul>
   

<%= link_to 'New Account', new_account_path %>
